<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/signup.css">
</head>
<body>
    
    <div class="container">
        <form action="/verify" method="post">
            <label id="received"><%=alertMsg%></label>
           
            <label>Verification code:</label>
            <input type="text" name="code" class="inbox" placeholder="Enter verification code">
     
            <button class="btn" type="submit">Next</button> 
        </form>
    
</body>
</html>